.art {
    font-family: 'Trebuchet MS', sans-serif;
    color: black;
    margin-top: 85px;
    text-align: center;
}

.art img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 3px solid black;
    border-radius: 4px;
    box-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, .2);
    margin-bottom: 10px;
}

.art img {
    /* from https://stackoverflow.com/questions/50607636/how-to-crop-image-with-css-when-viewed-from-mobile-phone */
    height: 85vh;
    object-fit: cover;
}

.left {
    float: left;
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
}

.right {
    float: right;
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
}